* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}

h1, h4 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #003b5b;
}

#submit {
    border: none;
    background-color: orangered;
    color: white;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}
#submit:hover {
    background-color: #333333;
}

.container {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Enable wrapping */
    gap: 1rem; /* Adjust the gap size between items */
    max-width: 100vw; /* Optional: Set a maximum width for the row */
}

label {
    margin-bottom: 5%;
    flex: 0 0 calc((100% - 2rem) / 3); /* Ensure 3 items per row */
    box-sizing: border-box; /* Include padding and border in width calculation */
    text-align: center; /* Center-align content within each wrapper */
}

label img {
    width: 100%;
    height: auto;
}

label input {
    flex-shrink: 0;
}

input, textarea {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
}

label span {
    flex-grow: 1;
}

.question {
    margin-bottom: 10%;
}