* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #000000;
    color: #FFCE2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.secondary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.secondary-header h2 {
    font-size: 1.5rem;
    color: #333;
    margin-right: auto;
}

p {
    margin-bottom: 5%;
    font-size: 2em;
    color: #333;
}

#submit {
    border: none;
    background-color: #FFCE2E;
    color: black;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}
#submit:hover {
    background-color: #333333;
}

.container {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; /* Adjust the gap size between items */
    max-width: 100vw; /* Optional: Set a maximum width for the row */
}

label {
    margin-bottom: 5%;
    flex: 0 0 calc((100% - 2rem) / 3);
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    transition: border-color 0.3s, border-width 0.3s;
}

label img {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

label input {
    flex-shrink: 0;
    display: none; /* Optionally hide the checkbox itself */
}

input, textarea {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
}

label span {
    flex-grow: 1;
    font-weight: bold;
}

label input:checked + span {
    border: 3px solid #FFCE2E;
}

label:has(input:checked) {
    border-color: #FFCE2E; /* Green border */
    border-width: 3px;   /* Thicker border */
}

.player-info h3 {
    text-align: center;
    margin-bottom: 5%;
}

.player-info p {
    text-align: left;
    margin-bottom: 2%;
}

b {
    font-size: 1em;
}

.question {
    margin-bottom: 10%;
}

footer {
    text-align: right;
    padding: 0.5rem;
    bottom: 0;
}

footer h3 {
    font-size: 0.7em;
    font-weight: normal;
}

.disclaimer {
    margin-top: 0;
}

.disclaimer p {
    font-size: 0.7rem;
    color: grey;
}

.menu a {
    margin-right: 20px; /* Adds 20px of space between the items */
    color: #FFCE2E;
    text-decoration: none;
    font-size: 0.9em;
}

.menu a:last-child {
    margin-right: 0; /* Removes extra margin after the last image */
}

.menu {
    display: flex; /* Ensures that the images stay on the same line */
    align-items: center; /* Vertically aligns the items if needed */
}

/* Desktop */
@media screen and (min-width: 1024px) {
    label span {
        font-size: 1.8em;
    }

    .player-info h3 {
        font-size: 1em;
    }

    .player-info p {
        font-size: 1em;
    }
}

/* Tabloid */
@media screen and (min-width: 768px) and (max-width: 1023px) {   
    .secondary-header h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 1.6em;
    }
    
    label span {
        font-size: 1.6em;
        line-height: 1.2; /* Adjust line-height for tabloid view */
        margin-top: 0; /* Reset margin adjustments */
        margin-bottom: 0; /* Reset margin adjustments */
    }

    .player-info h3 {
        font-size: 0.8em;
    }

    .player-info p {
        font-size: 1em;
    }

    .options {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on tabloid */
        gap: 0.6rem; /* Adjust the gap size between items */
    }
}

/* Mobile */
@media screen and (max-width: 767px) {   
    .menu {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-end; /* Align items to the right */
    }

    .menu a {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 0.4em;
    }

    .menu a:last-child {
        margin-bottom: 0; /* Remove bottom margin for the last item */
    }
    
    .secondary-header h2 {
        font-size: 1em;
    }

    p {
        font-size: 1.2em;
    }
    
    label span {
        font-size: 1em;
        line-height: 1em;
        margin-top: -0.2em; /* Adjust the top margin to reduce vertical gap */
        margin-bottom: -0.2em;
    }

    .player-info h3 {
        margin-top: 0.2em;
        margin-bottom: 0.6em;
        font-size: 0.5em;
    }

    .player-info p {
        font-size: 0.5em;
    }

    .options {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on mobile */
        gap: 0.4rem; /* Adjust the gap size between items */
    }
}