* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body {
    /* height: 100vh; */
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
}
.container {
    width: 100%;
    padding: 5%;
    border: 1px solid #eeeeee;
    border-radius: 10px;
}
h1, h4 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #003b5b;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
label input {
    margin-right: 10px;
    flex-shrink: 0;
}
label img {
    width: 100%;
    margin-right: 10px;
}
label span {
    flex-grow: 1;
}
#submit {
    border: none;
    background-color: orangered;
    color: white;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}
#submit:hover {
    background-color: #333333;
}
.question {
    margin-bottom: 20px;
	width: 80%;
}
.options {
	width: 20%;
	margin-top: 20px;
}